body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;



}
#container {
    background-color: #003049;
    width: 90%;
    /* height: 500px; */
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: ro;
    justify-content: center;
    /* flex-wrap: nowrap; */
    align-items: flex-start;
    /* flex-wrap: wrap; */
}
#container div {
    width: 200px;
    height: 200px;
    /* max-width: 300px; */
    font-size: 3rem;
    text-align: center;
    flex-basis: 600px; 
   }

/* div:nth-of-type(3) {
    align-self: center; 
}*/

 div:nth-of-type(1) { 
    flex-grow: 1; 
    flex-shrink: 1;
}

div:nth-of-type(5) { 
    flex-grow: 2; 
    flex-shrink: 0;
}

main {
    width: 80%;
    margin: 0 auto;
    boarder: 5x solid black;
    height: 500px;
    display: flex;
}

main.sidebar {
    background-color: purple;
    boarder: 2px solid white;
    flex: 1 1 600px;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 250px;
    }
    
    .child {
    width: 40%;
    }